In [1]:
pip install opencv-python

Requirement already satisfied: opencv-python in c:\users\laksh\anaconda3\lib\site-packages (4.10.0.84)
Requirement already satisfied: numpy>=1.21.2 in c:\users\laksh\anaconda3\lib\site-packages (from opencv-python) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import cv2
import numpy as np
import pandas as pd
import os

In [5]:
pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\laksh\anaconda3\lib\site-packages (0.3.4)
Requirement already satisfied: packaging in c:\users\laksh\anaconda3\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: requests in c:\users\laksh\anaconda3\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\laksh\anaconda3\lib\site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\laksh\anaconda3\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\laksh\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\laksh\anaconda3\lib\site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\laksh\anaconda3\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\users\laksh\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import kagglehub

path = kagglehub.dataset_download("rahmasleam/flowers-dataset")
path

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.6)

'C:\\Users\\laksh\\.cache\\kagglehub\\datasets\\rahmasleam\\flowers-dataset\\versions\\1'

In [9]:
# checking how many of types of flower data

folders = os.listdir(r"H:\innomatics\ML\ML Class\flowers_image_data")  # Whenever we see names it is a folder and when we get extension it is a file
folders

['daisy', 'dandelion', 'roses', 'sunflowers', 'tulips']

In [11]:
# Looping through each image folder and images to convert the images into array
# after conversion of array we resize the array and then performing flatten

features = []
class_labels = []
for folder in folders:
    for images in os.listdir(r"H:\innomatics\ML\ML Class\flowers_image_data\{}".format(folder)):
        img = cv2.imread(r"H:\innomatics\ML\ML Class\flowers_image_data\{}\{}".format(folder,images),0)
        img = cv2.resize(img, (50,50))    # Resizing the Image
        img = img.flatten()    # Flattening tha Image
        features.append(img)
        class_labels.append(folder)

In [13]:
# check whether teh length of features and class_labels are same or not

print(len(features))
print(len(class_labels))

3670
3670

In [15]:
# using features and class labels creating a final data frame 
# As features and class_labels both are in array we can give it to dataframe

final_data = pd.DataFrame(features)

In [17]:
final_data["class_labels"] = class_labels

In [19]:
final_data

,0,1,2,3,4,5,6,7,8,9,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,class_labels
0,143,149,160,169,167,167,145,144,144,159,...,174,168,149,134,128,137,137,131,127,daisy
1,224,222,216,232,228,75,85,80,182,185,...,116,107,110,108,156,169,141,125,172,daisy
2,108,81,97,84,102,120,108,106,140,128,...,44,27,26,26,27,27,31,36,40,daisy
3,26,25,26,29,32,35,37,38,38,40,...,16,15,16,21,18,24,16,20,23,daisy
4,20,21,36,45,46,45,40,42,37,56,...,42,48,42,26,25,31,39,27,35,daisy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3665,212,189,186,212,47,82,116,131,82,79,...,103,114,40,7,30,30,86,194,215,tulips
3666,135,126,129,131,119,141,135,128,132,136,...,53,60,58,54,41,48,84,132,120,tulips
3667,88,72,78,97,57,77,91,79,46,77,...,71,81,89,91,91,87,103,80,80,tulips
3668,157,189,169,132,174,162,185,174,122,160,...,152,193,74,23,18,8,12,19,45,tulips
3669,49,62,118,122,75,164,127,98,74,78,...,146,80,45,63,47,91,56,76,57,tulips