In [1]:
import numpy as np
import pandas as pd
import cv2
import os

In [2]:
# checking thee files in the folder

list1 = os.listdir(r"H:\innomatics\ML\ML Class\Video_data")
list1

['cat', 'cat.mp4', 'dog', 'dog.mp4', 'tiger', 'tiger.mp4']

In [3]:
# Extracting only video data

videos_list = []
for i in list1:
    if i.endswith(".mp4"):
        videos_list.append(i)

videos_list

['cat.mp4', 'dog.mp4', 'tiger.mp4']

In [4]:
for video in videos_list:
    vid = cv2.VideoCapture(r"H:\innomatics\ML\ML Class\Video_data\{}".format(video))

    c = 0
    while True:
        succ, img = vid.read()

        if succ == False:
            break

        cv2.imwrite(r"H:\innomatics\ML\ML Class\Video_data\{}\{}{}.jpg".format(video.split(".")[0],video.split(".")[0],c),img)
        c = c + 1
    
    if cv2.waitKey(1) & 255 == ord("q"):
        break

    cv2.destroyAllWindows()

#### Converting all the  extrated images from video into tabular data

In [6]:
videos_list = []
for i in range(len(list1)):
    if i%2 == 0:
        videos_list.append(list1[i])

videos_list

['cat', 'dog', 'tiger']

In [7]:
features = []
class_labels = []
for folder in videos_list:
    for images in os.listdir(r"H:\innomatics\ML\ML Class\Video_data\{}".format(folder)):
        img = cv2.imread(r"H:\innomatics\ML\ML Class\Video_data\{}\{}".format(folder,images),0)
        img = cv2.resize(img, (300,600))    # Resizing the Image
        img = img.flatten()    # Flattening tha Image
        features.append(img)
        class_labels.append(folder)

In [8]:
print(len(features))
print(len(class_labels))

1245
1245

In [9]:
final_data = pd.DataFrame(features)

In [10]:
final_data["class_labels"] = class_labels

In [11]:
final_data.shape

(1245, 180001)

In [12]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245 entries, 0 to 1244
Columns: 180001 entries, 0 to class_labels
dtypes: object(1), uint8(180000)
memory usage: 213.7+ MB

In [13]:
final_data

,0,1,2,3,4,5,6,7,8,9,...,179991,179992,179993,179994,179995,179996,179997,179998,179999,class_labels
0,182,183,184,185,187,187,186,185,185,186,...,124,117,116,82,37,25,25,38,80,cat
1,182,183,184,185,187,187,186,185,185,186,...,124,117,116,82,37,25,25,38,80,cat
2,184,184,185,188,188,187,188,189,189,189,...,211,210,206,214,208,188,171,163,172,cat
3,179,180,177,181,180,185,184,188,182,181,...,207,219,232,227,173,191,216,208,220,cat
4,178,177,175,180,181,184,182,188,185,180,...,207,222,236,235,156,187,216,208,219,cat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,tiger
1241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,tiger
1242,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,tiger
1243,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,tiger
1244,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,tiger